<!DOCTYPE html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/master.css">
    <link rel="icon" href="/static/favicon.ico">
    <title>Book Reviews:{% block title %}{% endblock %}</title>
    </head>
    <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
        <a class="navbar-brand navbar-logo" href="/"> <img src="/static/favicon.ico" style="width: 50px; height: 50px;"> <span></span> </a>

        {% if session.user_id %}
            <ul class="navbar-nav mr-auto mt-2">
                <li class="nav-item"><a class="nav-link" href="/">About</a></li>
                <li class="nav-item"><a class="nav-link" href="/searchpage">Search for a book</a></li>
            </ul>
            <ul class="navbar-nav ml-auto mt-2">
                <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
            </ul>
        {% else %}
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">About</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto mt-2">
                <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
            </ul>
        {% endif %}

    </nav>
    <body>
        <div class="container-fluid" style="margin-top:80px">
          {% block body %}{% endblock %}
        </div>
    </body>
    <br>
    <footer class="small text-center text-muted">
    <div>Logo icon made by: <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </footer>
</html>
